<ion-view view-title="Checkout">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" ng-model="fname" placeholder="name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" ng-model="lname" placeholder="Suhr">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input type="text" ng-model="address" placeholder="1st main 4th cross">
            </label>
            <label class="item item-input item-stacked-label">
                <button class="button button-positive">
                    Send the Gift...!
                </button>
            </label>
        </div>
    </ion-content>
</ion-view>


