<ion-view view-title="Checkout">
    <ion-content class="padding">
        <div class="list">
            <div class="item item-avatar item-button-right">
                <img ng-src="{{product.picUrl}}">
                <h2>{{product.name}}</h2>
                <p>{{product.lastText}}</p>
                <button class="button button-positive" ng-click="goToBilling()">
                    <i class="icon ion-ios-arrow-thin-right">Pay</i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>


